body {
  margin: 5% 15% 5% 10%;
  width: 320px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  color: #e55039;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}