@charset "UTF-8";

/* CSS Document */

@font-face {
    font-family: 'Pixelade';
    src: url('fonts/pixelade-webfont.eot');
    src: url('fonts/pixelade-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pixelade-webfont.woff') format('woff'), url('fonts/pixelade-webfont.ttf') format('truetype'), url('fonts/pixelade-webfont.svg#pixeladeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/* MAIN CSS */

html, body {
    background: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comfortaa", 'Pixelade', Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 0.2em;
}


/* main logo text */

h1 {
    font-size: 7.5em;
    /* 32/16 */
    text-align: center;
}


/* other headlines */

h2 {
    font-size: 2.25em;
    /* 36/16 */
    color: red;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.75em;
    /* 28/16 */
    color: red;
}


/* basic text */

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    /*font-weight: 800;*/
}

a, a:link, a:visited {
    color: red;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 -5px;
}

a:active, a:hover {
    color: white;
    text-decoration: none;
    background-color: red;
}

.noBG:hover {
    background: none !important;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


#wrapper {
    width: 80%;
    min-width: 320px;
    max-width: 700px;
    background-color: white;
    margin: 5px auto 40px auto;
    /* top was 10px, before the reminder section */
    padding: 30px;
}

section {
    border-bottom: 1px dotted rgb(200, 200, 200);
    padding: 30px 0 40px 0;
}

section:last-child {
    border: none;
}

#header, #upcoming, #task, #register, #previousJams, #questions, #logos {
    text-align: center;
}

#desc ul, .supplies ul, .rules ul {
    max-width: 600px;
    padding-left: 15px;
    line-height: 1.3em;
}

#desc li, .supplies li, .rules li {
    list-style-type: disc;
    padding: 0 0 0.5em 15px;
}

#marquee img {
    width: 30px;
    height: auto;
    padding: 0 0.5em;
}

#marquee:after {
    clear: both;
}

#reminder {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto 0px auto;
    padding: 20px;
    background-color: red;
    border: none;
    border-bottom: white solid 1px;
    color: white;
    text-align: center;
    z-index: 10000;
}

#reminder p {
    width: 80%;
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto 0 auto;
}

#closeReminder {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
}

#closeReminder:hover, #closeReminder:active {
    color: black;
}

#task {
    background-color: black;
    width: 80%;
    margin: 30px auto 30px auto;
    padding: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
}

#task h4 {
    font-size: 1.75em;
    /* 36/16 */
}

#registerButton {
    display: block;
    font-family: 'Josefin Slab', 'Pixelade', Arial, Helvetica, sans-serif;
    background-color: red;
    width: 40%;
    margin: 30px auto 30px auto;
    padding: 20px;
    border: 3px solid red;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 1.75em;
    /* 28/16 */
    color: white;
}

#registerButton:hover {
    background-color: white;
    border: 3px solid red;
    color: red;
}

#logos {
    text-align: center;
}

#logos img {
    width: 33%;
    min-width: 320px;
    height: auto;
}

.slide img {
    border: 1px solid rgb(200, 200, 200);
}

.bx-viewport {
    box-shadow: none !important;
    background: none;
}

.bx-prev {
    left: 20px !important;
}

.rules {
    text-align: center;
}

.rules h1 {
    font-size: 72px;
    /*margin: 20px 0 -20px 0 !important;*/
}

.rules h2 {}

.rules img {
    max-width: 500px;
}

.clear {
    clear: both;
}

table {
  width: 55%;
  text-align: left;
}

@media only screen and (max-width: 850px) {
  table {
    width: 94%;
    text-align: left;
  }

  #hide {
    display: none;
  }

  section {
    padding: 30px 0 30px 0;
  }
}

table td {
  padding-top: 5px;
}

table #table-left {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  #hide1 {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  #hide2 {
    display: none;
  }
}
